@import "tailwindcss";
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: Inter, sans-serif;
  background-color: #0b1020;
  color: white;
  -webkit-font-smoothing: antialiased;
}

@theme {
  --animate-fade: fade 2s ease-in-out infinite;

  @keyframes fade {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
button {
  cursor: pointer;
}
a {
  cursor: pointer;
}
